/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 70px;
}
/* page -1  */
.page-1{
    background-image: url('../assets/Hero-bg.png');
    width: 1440px;
    height: 652px;
    margin: 0 auto;
}
.container{
    width: 998px;
    height: 581px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: undefined;
}
.img-1{
    margin-top: 24px;
width: 130.57px;
height: 136.89px;
}
.first-l{
    color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;
}
.second-l{
    color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 0;
}
.btn{
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: undefined;
padding: 21px 24px;
border-radius: 8px;
background: rgba(13, 19, 33, 1);
color: rgba(255, 255, 255, 1);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
}
.btn:hover{
    background: #2ecc71;
}
/* page-2 */
.page-2{
   /* Frame 13 */
width: 1140px;
/* height: 1200px; */
margin: 0 auto;;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: undefined;
padding: 80px 97px 80px 97px;
}
.cont-1{
    display: flex;
    gap: 20px;
}
.f-cont{
    margin-top: 0px;
}
.title {
    color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.title-desc{
    color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.text-1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.text-2{
    color: rgba(13, 19, 33, 1);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.btn-2{
    width: 171px;
height: 47px;
}
.img-f{
    width: 374.17px;
height: 240px;
margin-top: 30px;
}
.inspiration{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: undefined;
padding: 80px 97px 0px 0px;
}
.inspiration-video{
    width: 100%;
    border-radius: 16px;
}
.inspiration .title-desc{
    margin-bottom: 50px;
}
.inspiration-class{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}
/* cuurent target */
.current-target{
 display: flex;
 width: 1140px;
height: 866px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: undefined;
text-align: center;
margin: 0 auto;
}
/* skills style */
.current-target .skills-container {
    display: flex;
    gap: 24px;
    margin: 48px 0px 100px;
}
.current-target .skill-title {
    color: rgba(13, 19, 33, 1);
    font-size: 24px;
    font-weight: 800;
}

.current-target .skill-desc {
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 8px 0px 24px;
}
.current-target a {
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 700;
}

.current-target img{
    width: 56px;
    margin-bottom: 24px;
}
.skill{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#c1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

#c2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

#c3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/* next target styles */
.card-container {
    margin: 0px auto;
}

.next-card {
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
    align-items: center;
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin: 24px 0px 24px;
}


